<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Specific Order</title>
</head>
<body>
    <header class="head">
        <h1>Specific Order</h1>
    </header>
    <main class = "main">
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Order Date</th>
                <th>Whisky Name</th>
                <th>Quantity</th>
            </tr>
            <tr>
                <td>{{order.customer_name}}</td>
                <td>{{order.order_date}}</td>
                <td>{{order.whisky_name}}</td>
                <td>{{order.quantity}}</td>
            </tr>
        </table>   
    </main>
    <footer>
        <p>The Online Whisky Company</p>
    </footer>
</body>
</html>